HUD
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-family: Poppins;
    transition: all 0.1s linear;

	.items
    {
        position: absolute;
        left: 32px;
        bottom: 32px;
        flex-direction: column;
        gap: 16px;

        .item
        {
            font-size: 42px;
            width: 120px;
            height: 120px;
            background-color: hsl(0, 0%, 11%);
            border-color: hsl(0, 0%, 15%);
            border-width: 6;
            align-items: center;
            justify-content: center;
            padding: 6px;

            .icon
            {
                width: 100%;
                height: 100%;
                color: white;
            }

            &.active
            {
                background-color: hsl(0, 0%, 20%);
            }
        }
    }

    .score
    {
        position: absolute;
        top: 32px;
        left: 32px;

        font-size: 42px;

        color: white;
    }

    .crosshair {
		position: absolute;
		border-radius: 50%;
		background-color: white;
		opacity: 0.3;
		width: 4px;
		height: 4px;
	}

    .health
    {
        position: absolute;
        right: 32px;
        bottom: 32px;
        font-size: 42px;
        color: white;
    }

    &.damage
    {
        background-color: #9435;
        transform: translateY( 5px ) scale( 1.01 );
    }
}