@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if ( !IsProxy )
		return;
	
	<div class="title">@Network.OwnerConnection.DisplayName</div>
	<img src=@GetAvatarTexture( Network.OwnerConnection )/>
</root>

@code
{
	public string GetAvatarTexture( Connection connection )
	{
		return $"avatar:{connection.SteamId}";
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Network.OwnerConnection.DisplayName );
}
